@import "tailwindcss";

@theme {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --breakpoint-450: 450px;
  --breakpoint-800: 800px;
  --breakpoint-850: 850px;
  --breakpoint-900: 900px;
  --breakpoint-1200: 1200px;
  --breakpoint-1450: 1450px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body{
  width: 100%;
  margin: 0;
  padding: 0;

  .scrollbar-none::-webkit-scrollbar {
  display: none;
}
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .equal-shadow{
    box-shadow: 0 1px 5px rgba(1, 1, 1, 0.2);
  }
}
