@import "tailwindcss";

@theme {
  --breakpoint-4xs:220px;
  --breakpoint-3xs: 280px;
  --breakpoint-xxs: 400px;
  --breakpoint-xs: 500px;
  --breakpoint-sm: 770px;
  --breakpoint-md: 870px;
  --breakpoint-lg: 990px;
  --breakpoint-xl: 1600px;
  --breakpoint-xxl: 1800px;

  --breakpoint-550: 550px;
  --breakpoint-600: 600px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body{
  width: 100%;
  margin: 0;
  padding: 0;

  .scrollbar-none::-webkit-scrollbar {
  display: none;
}
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .equal-shadow{
    box-shadow: 0 1px 5px rgba(1, 1, 1, 0.2);
  }
}
